@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Praise&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

:root {
    /* COLORS */
    --primary-color: #FFA955;
    --background-primary-color: #FFF7F0;
    --border-primary-color: #FFCFA2;
    --light-primary-color: #FFBF80;
    --secondary-color: #683300;
    --gray-color: #7F7D7B;
    --transparent-025: rgba(255, 255, 255, 0.25);
    /* RADIUS */
    --small-radius: 8px;
    --medium-radius: 16px;
    --large-radius: 24px;
}
/*HEADER*/
.header {
    border: solid;
    display: flex;
    justify-content: space-between;
    padding-inline:  5%;
    height: 100px;
    align-items: center;
    position: fixed;
    width: 100%;
}
.header_title {
    color: var(--primary-color);
}
.header_title span {
    color: var(--secondary-color);
}
.header_menu {
    list-style: none;
    display: flex;
    gap: 24px;
}
.header_menu li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--secondary-color);
    transition: 300ms ease;
    position: relative;
}
.header_menu li a:hover {
    color: var(--primary-color);
}
.header_menu li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--primary-color);
    left: 0;
    bottom: -6px;
    transition: 300ms ease;
}
.header_menu li a:hover::after {
    width: 100%;
}
/*HEADER END*/













